$loginBackground: #0080ff;
// $loginBackground: #F9CCE2;

$loginBtnColor: #006cd9;
// $loginBtnColor: #FFC0CB;

$normalFontColor: #2c3e50;
$activeFontColor: #07c160;
$disableFontColor: #909090;
$errorFontColor: #ed3f14;