@import './color.scss';
.login-main {
    height: 100vh;
    background: $loginBackground;
    .login-header {
        color: #fff;
        padding: 20px 0 20px 10px;
    }
    .login-content {
        padding: 0 10px;
        padding-top: 10vh;
        .logo-img {
            display: block;
            margin: 0 auto;
            width: 220px;
            margin-bottom: 20px;
        }
    }
    .login-btn {
        background: $loginBtnColor;
        color: #fff;
        border-color: $loginBtnColor;
    }
    .div-line {
        position: relative;
        width: 100%;
        height: 1px;
        background: #2c3e50;
        margin-top: 5vh;
        .line-content {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 5px 10px;
            font-size: 13px;
            color: #2c3e50;
            background: $loginBackground;
        }
    }
}
input:-webkit-autofill {  
    -webkit-box-shadow: inset 0 0 0 1000px #fff; 
    background-color: transparent; 
}
