h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    line-height: 28px;
    vertical-align: middle;
}
.container.main-container {
    margin-top: 15px;
    padding: 0 15px;
}
.inline-block {
    display: inline-block;
}