h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    line-height: 28px;
    vertical-align: middle;
}
.container.main-container {
    margin-top: 15px;
    padding: 15px 15px;
}
.inline-block {
    display: inline-block;
}
.fix-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
code {
    display: inline !important;
}
pre code {
    display: block !important;
}
img {
    max-width: 100%;
}