h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #000;
    line-height: 28px;
    vertical-align: middle;
}
.container.main-container {
    margin-top: 15px;
    padding: 15px 15px;
}
.inline-block {
    display: inline-block;
}
.fix-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
code {
    display: inline !important;
    padding: 6px !important;
}
pre code {
    display: block !important;
    padding: 7px !important;
}
img {
    max-width: 100%;
}
blockquote {
    border-left: 2px solid #009a61;
    background: #f6f6f6;
    color: #555;
    font-size: 1em;
    padding: 10px 20px;
    margin: 1.5em 0;
}
.page-content {
    font-size: 14px;
    line-height: 2;
}
.empty-content {
    padding: 20px 40px;
    font-size: 14px;
    color: #ccc;
    text-align: center
}